__pycache__/
*.py[cod]
bin/pithos
Makefile.in
Makefile
configure
/build-aux/
/m4/
config.*
/autom4te.cache/
aclocal.m4
data/io.github.Pithos.appdata.xml
data/io.github.Pithos.desktop
data/gschemas.compiled
*.valid
*.pot
*.gresource
*.tar.xz
Makefile.in.in
stamp-it
.intltool-merge-cache
POTFILES
compile
