Source: pithos
Section: python
Priority: extra
Build-Depends: cdbs (>= 0.4.43),
 debhelper (>= 6),
 python,
 python-central (>= 0.6.11),
 python-setuptools (>= 0.6.10)
Maintainer: Kevin Mehall <km@kevinmehall.net>
Standards-Version: 3.8.2
XS-Python-Version: current

Package: pithos
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends},
 ${python:Depends},
 python-gi,
 python-dbus,
 python-pylast,
 gir1.2-gstreamer-1.0,
 gir1.2-appindicator3-0.1,
 gir1.2-notify-0.7,
 gir1.2-keybinder-3.0,
 gstreamer1.0-plugins-good,
 gstreamer1.0-plugins-bad
Description: Pandora.com client for the GNOME desktop
